<h1>Index View</h1>


<% @posts.each do |post| %>
  <div>
    <h3><%= post.title %></h3>
   <h6><%= post.user.username if user_signed_in? %></h6>
    <p><%= post.body %></p>
  </div>
  
<% end %>


<% if user_signed_in? %>
    <%= link_to "Log out", destroy_user_session_path, :method=>'delete'%>
<% else %>
    <%= link_to "login", new_user_session_path %>
<% end %>

